.wrapper {
    width: inherit;
    border-radius: 10px;
    padding: 20px;
}

.wrapper form :where(textarea, button), .review-btn {
    outline: none;
    border: none;
}

.post textarea {
    width: 100%;
    resize: none;
    font-size: 18px;
    border-radius: 0px;
}

.post-btn, .review-btn {
    box-sizing: border-box;
    width: 90px;
    border-radius: 10px;
    font-weight: 800;
    background-color: #198754;
    color: #fff;
}

.post-btn:hover, .review-btn:hover {
    outline: 1px solid #198754;
}

.review-btn {
    width: 150px;
    height: 40px;
}
.form-control:focus {
    border: none;
    box-shadow: none;
}

.post .title-box {
    height: 20px;
    border-bottom: 1px solid black;
}

.post .review-box {
    font-size: 18px;
    min-height: 130px;
}

input[type="file"] {
    display: none;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.wrapper li {
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    background-color: #f3fcf8;
    color: #198754;
    margin-bottom: 1em;
    padding: 1.1em 1em;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}

.icon-hover:hover {
    color: #198754;
}

.rate {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 46px;
    padding: 10px 20px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #198754;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #4f866d;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #076137;
}

.nav-reviews, .container {
    padding: 0px;
}

.nav-reviews a{
    position: relative;
    text-decoration: none;
    color: #888686;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-right: 10px;
}
.nav-reviews a:after{
    content: "";
    position: absolute;
    background-color: #198754;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.nav-reviews a:hover{
    color: #0e0e0e;
}
.nav-reviews a:hover:after{
    width: 100%;
}

a.active {
    color: #080101;
}

.nav-reviews a.active:after {
    width: 100%;
}

.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
.average-rating::before {
    content: "★★★★★";
    --percent: calc(3.2 / 5 * 100%);
    color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(
      90deg,
      rgb(9, 142, 40) var(--percent),
      rgba(0, 0, 0, 0.2) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .establishment-details, .reviews-container  {
    background-color: #f8fbf9;
    border-radius: 30px;
    padding: 30px;
  }

  .card{
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: #f8fbf9;
    border-bottom: 1px solid grey;
    border: solid red 1px;
    width: inherit;
  }

  .card-header {
    background-color: #f8fbf9 !important;
  }