li .card {
    max-height: 70px;
    overflow: hidden;
}

.result-image {
    height: 70px;
    min-width: 70px;
}

.result-info p {
    text-overflow: ellipsis;
}

.w-90 {
    width: 90%;
}

.result-info:hover {
    color: rgb(9, 142, 40);
}