
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>anGeLICAA EELIIZaa | Food in Taft</title>
        <link rel="icon" type="image/x-icon" href="static/assets\icon.png">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="../css/user-profile.css" rel="stylesheet">
        <link href="../css/stylesheet.css" rel="stylesheet">
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script defer src="https://kit.fontawesome.com/f3e84a984d.js" crossorigin="anonymous"></script>
        <script defer src="../js/user-profile.js"></script>
        <script defer src="../js/establishment.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="..\css\establishment.css">
        <script src="../js/attach-pfp.js" defer></script>
        <script src="../js/navbar.js" defer></script>
        <script src="../js/authentication.js" defer></script>
        <link rel="stylesheet" href="../css/style.css">
    </head>
  <body>
    <nav-component></nav-component> 
    <nav-modal></nav-modal>

    <div class="container">
        

        <div class="row">
            <div class="col-5">
                <div class="card mt-5">
                    <div class="card-img-container">
                        <img class="card-img-top" id="profile-img-top" src="static/assets/user_pfp/qwerty.png" alt="">
                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="card-title username">anGeLICAA EELIIZaa</h2>
                        </div>
                        <p id="profile-description" class="card-text">
                            Hello, I'm anGeLICAA EELIIZaa, the Schuyler SISTERz.
                            Daddy said to be home by sundown, but daddy doesn't really need to know :)
                        </p>
                    </div>
                </div>
            </div>

            <div class="col ms-4 mt-5">
                <div class="row">
                    <p class="fw-light mb-2">All Reviews and Comments</p>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="qwerty.html">
                                    <img class="pfpRev img-fluid" src="static/assets/user_pfp/qwerty.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="qwerty.html">anGeLICAA EELIIZaa</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                            <div>
                                <h5 class="d-inline-block"><span class="me-3">4.0</span><meter class="average-rating star-4 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                            </div>
                    </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/Mcdo.html">
                                <h6 class="card-title reviewTitle">Satisfy Your Sweet Tooth: McDonald's Apple Pie Delights!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                McDonald's Apple Pie is a warm, flaky slice of heaven that never fails to satisfy my sweet cravings. The golden-brown crust encases a luscious apple filling with just the right amount of sweetness and a hint of cinnamon. Whether enjoyed on its own or paired with a creamy ice cream scoop, this dessert is pure indulgence. The contrast of textures between the crispy crust and the tender apples is a delight with every bite. McDonald's Apple Pie is a classic dessert that I find myself coming back to time and time again.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg "> </span>
                                <span class="uvote card-text">0</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">0</span>
                                <span class="reply replybg"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00001xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00001xxtext" name="c00001xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="qwerty.html">
                                    <img class="pfpRev img-fluid" src="static/assets/user_pfp/qwerty.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="qwerty.html">anGeLICAA EELIIZaa</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/ColCurry.html">
                                <h6 class="card-title reviewTitle">Exploding with Flavor: Colonel Curry's Mango Chutney Naan!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                Colonel Curry's Mango Chutney Naan is a culinary masterpiece that brings together the sweetness of mango and the savory goodness of freshly baked naan. The warm, pillowy bread is slathered with a generous amount of tangy mango chutney, creating a burst of flavors with every bite. The combination of textures is perfect, with the naan being fluffy on the inside and slightly crispy on the outside. This delightful accompaniment is a must-try that adds a zesty twist to any meal. 
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">7</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">2</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00002xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00002xxtext" name="c00002xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                </div>
                <div class="row mb-2">
                    <button class="fw-light fst-italic moreRev">see more</button> 
                </div>
                <div class="row moreRev collapse">
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="qwerty.html">
                                    <img class="pfpRev img-fluid" src="static/assets/user_pfp/qwerty.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="qwerty.html">anGeLICAA EELIIZaa</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/Jollibee.html">
                                <h6 class="card-title reviewTitle">A Towering Delight: Jollibee's Yumburger with Cheese!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                Jollibee's Yumburger with Cheese is a towering masterpiece that satisfies any burger craving. The juicy beef patty is sandwiched between a soft bun and topped with a slice of creamy, melted cheese. The combination of flavors is simple yet effective, creating a satisfying experience with every bite. The only reason I didn't give it a perfect five-star rating is that I wish the bun had a bit more toasting for added texture. Nevertheless, Jollibee's Yumburger with Cheese is a go-to choice for a quick and tasty meal.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">1</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">1</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00003xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00003xxtext" name="c00003xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="qwerty.html">
                                    <img class="pfpRev img-fluid" src="static/assets/user_pfp/qwerty.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="qwerty.html">anGeLICAA EELIIZaa</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">4.0</span><meter class="average-rating star-4 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/AteRicas.html">
                                <h6 class="card-title reviewTitle">A Meat Lover's Dream: Ate Rica's Bacsilog with Tocilog!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                For meat lovers, Ate Rica's Bacsilog with Tocilog is a dream come true. This version of the popular dish features tender and flavorful pieces of marinated tocino, alongside the classic garlic fried rice and sunny-side-up egg. The tocino is sweet and succulent, creating a delightful contrast with the savory rice and creamy egg. My only slight criticism is that the portion of tocino could be more generous to make it a truly meaty experience. Nonetheless, Ate Rica's Bacsilog with Tocilog is a meat lover's delight.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">0</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">9</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00004xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00004xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="qwerty.html">
                                    <img class="pfpRev img-fluid" src="static/assets/user_pfp/qwerty.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="qwerty.html">anGeLICAA EELIIZaa</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/24chicken.html">
                                <h6 class="card-title reviewTitle">Flavorful and Tender: 24Chicken's Signature Fried Chicken Delights!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                24Chicken's signature fried chicken is a true standout. The golden-brown crispy skin gives way to succulent and juicy meat that is packed with flavor. Each bite is a delightful combination of savory and aromatic notes that leave you craving for more. The chicken is expertly seasoned, resulting in a perfectly balanced taste. 24Chicken's signature fried chicken is a must-try for all fried chicken enthusiasts.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">7</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">2</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00005xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00005xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
