
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>errol09 | Food in Taft</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/icon.png">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="/static/css/user-profile.css" rel="stylesheet">
        <link href="/static/css/stylesheet.css" rel="stylesheet">
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script defer src="https://kit.fontawesome.com/f3e84a984d.js" crossorigin="anonymous"></script>
        <script defer src="/static/js/user-profile.js"></script>
        <script defer src="/static/js/establishment.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/static/css/establishment.css">
        <script src="/static/js/attach-pfp.js" defer></script>
        <script src="/static/js/navbar.js" defer></script>
        <script src="/static/js/authentication.js" defer></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
  <body>
    <nav-component></nav-component> 
    <nav-modal></nav-modal>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="card mt-5">
                    <div class="card-img-container">
                        <img class="card-img-top" id="profile-img-top" src="/static/assets/user_pfp/errol09.png" alt="">
                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="card-title username">Airol Batumbakal</h2>
                        </div>
                        <p id="profile-description" class="card-text">
                            Chef 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col ms-4 mt-5">
                <div class="row">
                    <p class="fw-light mb-2">All Reviews and Comments</p>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="errol09.html">
                                    <img class="pfpRev img-fluid" src="/static/assets/user_pfp/errol09.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="errol09.html">Airol Batumbakal</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                            <div>
                                <h5 class="d-inline-block"><span class="me-3">4.0</span><meter class="average-rating star-4 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                            </div>
                    </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/Mcdo.html">
                                <h6 class="card-title reviewTitle">Golden Perfection: McDonald's French Fries Are Simply Irresistible!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                When it comes to French fries, McDonald's reigns supreme. These golden sticks of pure joy are crisp on the outside and perfectly fluffy on the inside. The level of saltiness is spot-on, and they're always served piping hot. Whether enjoyed on their own or paired with a burger, McDonald's French fries never disappoint. Their consistent quality and addictive taste make them an absolute winner. I can't resist reaching for more every time I visit.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg "> </span>
                                <span class="uvote card-text">12</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">9</span>
                                <span class="reply replybg"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00001xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00001xxtext" name="c00001xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="errol09.html">
                                    <img class="pfpRev img-fluid" src="/static/assets/user_pfp/errol09.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="errol09.html">Airol Batumbakal</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/Jollibee.html">
                                <h6 class="card-title reviewTitle">A Taste of Sweet and Tangy: Jollibee's Jolly Spaghetti!</h6>
                            </a>
                            <p class="reviewtext truncate card-text">
                                Jollibee's Jolly Spaghetti offers a unique take on this classic dish. The pasta is perfectly cooked and generously coated with a sweet and tangy tomato sauce. The addition of sliced hot dogs and ground meat provides a hearty element to the dish. While the sweetness of the sauce may not be for everyone, it adds a distinct flavor that sets Jollibee's Jolly Spaghetti apart. It's a nostalgic treat that brings back childhood memories and is sure to please those seeking a twist on traditional spaghetti.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">12</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">10</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00002xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00002xxtext" name="c00002xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                </div>
                <div class="row mb-2">
                    <button class="fw-light fst-italic moreRev">see more</button> 
                </div>
                <div class="row moreRev collapse">
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="errol09.html">
                                    <img class="pfpRev img-fluid" src="/static/assets/user_pfp/errol09.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="errol09.html">Airol Batumbakal</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/AteRicas.html">
                                <h6 class="card-title reviewTitle">A Vegetarian Twist: Ate Rica's Tofusilog Shines!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                For vegetarians, Ate Rica's Tofusilog offers a delicious alternative. This version of the dish replaces the bacon with marinated and grilled tofu, providing a protein-packed option. The tofu is well-seasoned and adds a delightful chewiness to each bite. The garlic fried rice and sunny-side-up egg remain as flavorful companions. My only suggestion would be to enhance the marinade or sauce for the tofu to make it even more enticing. Nevertheless, Ate Rica's Tofusilog is a tasty and satisfying vegetarian choice.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">13</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">9</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00003xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00003xxtext" name="c00003xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="errol09.html">
                                    <img class="pfpRev img-fluid" src="/static/assets/user_pfp/errol09.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="errol09.html">Airol Batumbakal</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">4.0</span><meter class="average-rating star-4 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/24chicken.html">
                                <h6 class="card-title reviewTitle">A Unique Delight: 24Chicken's Salted Egg Chicken Rice Bowl!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                24Chicken's Salted Egg Chicken Rice Bowl is a unique and delectable dish. The tender chicken is coated in a luscious and creamy salted egg sauce that is rich and flavorful. The combination of the savory chicken, fragrant rice, and the luxurious salted egg sauce creates a harmonious medley of flavors. The dish is well-balanced and satisfying, making it a standout choice at 24Chicken.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">4</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">4</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00004xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00004xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="errol09.html">
                                    <img class="pfpRev img-fluid" src="/static/assets/user_pfp/errol09.png" alt="">
                                </a>
                                <div class="postDeats">
                                    <a class="user-link" href="errol09.html">Airol Batumbakal</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/ColCurry.html">
                                <h6 class="card-title reviewTitle">Colonel Curry's Signature Chicken: A Spicy Delight!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                Colonel Curry's signature chicken is a fiery feast for the taste buds. The crispy exterior gives way to tender, juicy chicken that is infused with a blend of aromatic spices. The heat level is just right, providing a satisfying kick without overwhelming the palate. The only reason I didn't give it a perfect five-star rating is that I found it slightly greasier than I prefer. Nevertheless, Colonel Curry's signature chicken is a flavorful dish that will appease any spice lover. 
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">0</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">21</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00005xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00005xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
