<nav-component></nav-component> 
<nav-modal></nav-modal>
<div class="container cards">
    <h3 class="pt-4 pb-2">Food establishments near Taft</h3>
    <div class="row gy-5 js-establishments-grid">
    </div>
</div>

<footer>

</footer>