<div class="card-body revMedia">
                                {{!-- <span><img class="img-fluid" src="..///static/assets//restaurants/24chicken.jpg"></span>
                                <span class="audio"><audio  src="/static/assets/sampleaudio.mp3" controls></span>
                                <span><video class="img-fluid" src="/static/assets/sheep_-_57647 (1080p).mp4" controls /></span>
                                <button class="imgBtn" data-bs-toggle="modal" data-bs-target=".c00000.moreImg">+4</button> --}}
                                {{{mediaa}}}
</div>


{{!-- shows if media input > 4 --}}
{{!-- <div class="modal c00000 moreImg">
                            <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="btn-close btn-close-success me-2" data-bs-dismiss="modal"></button>
                                </div>
                                    <div class="modal-body moreImgBox">
                                    <span><img  class="img-fluid" src="..///static/assets//restaurants/24chicken.jpg"></span>
                                    <span><img  class="img-fluid" src="..///static/assets//restaurants/24chicken.jpg"></span>
                                    <span><video class="img-fluid" src="/static/assets/sheep_-_57647 (1080p).mp4" controls /></span>
                                    <span class="audio"><audio src="/static/assets/sampleaudio.mp3" controls></span>
                                    <span ><img class="img-fluid" src="..///static/assets//restaurants/24chicken.jpg"></span>
                                </div>
                            </div>
                            </div>
                        </div> --}}
